<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameEnd_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,872}</string>
                <key>spriteSourceSize</key>
                <string>{482,872}</string>
                <key>textureRect</key>
                <string>{{1,1},{482,872}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameEnd_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,72}</string>
                <key>spriteSourceSize</key>
                <string>{189,72}</string>
                <key>textureRect</key>
                <string>{{320,875},{189,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameEnd_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,72}</string>
                <key>spriteSourceSize</key>
                <string>{189,72}</string>
                <key>textureRect</key>
                <string>{{320,949},{189,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameEnd_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,97}</string>
                <key>spriteSourceSize</key>
                <string>{317,97}</string>
                <key>textureRect</key>
                <string>{{1,875},{317,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameEnd_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,30}</string>
                <key>spriteSourceSize</key>
                <string>{61,30}</string>
                <key>textureRect</key>
                <string>{{221,974},{61,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameEnd_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,35}</string>
                <key>spriteSourceSize</key>
                <string>{218,35}</string>
                <key>textureRect</key>
                <string>{{1,974},{218,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameEnd.png</string>
            <key>size</key>
            <string>{510,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f92487f27996ab371eda968a752c26b:00925fd82bed5d0843f74e1716f36e41:25fa551337b690886af44234c9afd736$</string>
            <key>textureFileName</key>
            <string>GameEnd.png</string>
        </dict>
    </dict>
</plist>
