<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>readyTime_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,155}</string>
                <key>spriteSourceSize</key>
                <string>{89,155}</string>
                <key>textureRect</key>
                <string>{{885,1},{89,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>readyTime_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,157}</string>
                <key>spriteSourceSize</key>
                <string>{118,157}</string>
                <key>textureRect</key>
                <string>{{765,1},{118,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>readyTime_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,160}</string>
                <key>spriteSourceSize</key>
                <string>{114,160}</string>
                <key>textureRect</key>
                <string>{{447,1},{114,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>readyTime_go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,159}</string>
                <key>spriteSourceSize</key>
                <string>{200,159}</string>
                <key>textureRect</key>
                <string>{{563,1},{200,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>readyTime_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,175}</string>
                <key>spriteSourceSize</key>
                <string>{444,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{444,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ReadTime.png</string>
            <key>size</key>
            <string>{975,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b1382552d8e1dfc1956bb2f965e9424:04bfff56000adce56502e3206792f852:726c112d86b3695276d8c7f05ca65238$</string>
            <key>textureFileName</key>
            <string>ReadTime.png</string>
        </dict>
    </dict>
</plist>
