<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>matching_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,296}</string>
                <key>spriteSourceSize</key>
                <string>{669,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{669,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matching_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,24}</string>
                <key>spriteSourceSize</key>
                <string>{89,24}</string>
                <key>textureRect</key>
                <string>{{272,1467},{89,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matching_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,58}</string>
                <key>spriteSourceSize</key>
                <string>{210,58}</string>
                <key>textureRect</key>
                <string>{{1,1508},{210,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,57}</string>
                <key>spriteSourceSize</key>
                <string>{210,57}</string>
                <key>textureRect</key>
                <string>{{77,1408},{210,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,58}</string>
                <key>spriteSourceSize</key>
                <string>{210,58}</string>
                <key>textureRect</key>
                <string>{{1,1568},{210,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,57}</string>
                <key>spriteSourceSize</key>
                <string>{210,57}</string>
                <key>textureRect</key>
                <string>{{213,1467},{210,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matching_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,74}</string>
                <key>spriteSourceSize</key>
                <string>{174,74}</string>
                <key>textureRect</key>
                <string>{{1,1332},{174,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matching_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,36}</string>
                <key>spriteSourceSize</key>
                <string>{119,36}</string>
                <key>textureRect</key>
                <string>{{77,1467},{119,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{253,1332},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{253,1370},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,52}</string>
                <key>spriteSourceSize</key>
                <string>{182,52}</string>
                <key>textureRect</key>
                <string>{{1,1628},{182,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,74}</string>
                <key>spriteSourceSize</key>
                <string>{174,74}</string>
                <key>textureRect</key>
                <string>{{77,1332},{174,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matching_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,296}</string>
                <key>spriteSourceSize</key>
                <string>{658,296}</string>
                <key>textureRect</key>
                <string>{{1,672},{658,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>matching.png</string>
            <key>size</key>
            <string>{298,1681}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9b1031c8b0d62bc9d3085a802ddaaa2:b8cd6d893c2014212dac4dc0d4104e35:3c2b6344a6c60128de65db679bc936dc$</string>
            <key>textureFileName</key>
            <string>matching.png</string>
        </dict>
    </dict>
</plist>
