<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>progress_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,325}</string>
                <key>spriteSourceSize</key>
                <string>{576,325}</string>
                <key>textureRect</key>
                <string>{{1,1},{576,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,289}</string>
                <key>spriteSourceSize</key>
                <string>{240,289}</string>
                <key>textureRect</key>
                <string>{{579,1},{240,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>progress.png</string>
            <key>size</key>
            <string>{820,327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:339da48e8723c259528225530907b6e8:ab41b336bb7f822510b1458a183690e5:d72797b2cb7ec62c6a8c5cc7ff3ff1a2$</string>
            <key>textureFileName</key>
            <string>progress.png</string>
        </dict>
    </dict>
</plist>
