<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SkillBtnUI_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkillBtnUI_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{124,1},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkillBtnUI_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{247,1},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkillBtnUI_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{370,1},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SkillBtnUI_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{493,1},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SkillBtnUI.png</string>
            <key>size</key>
            <string>{615,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5374db04e759b66c2aa7a89df1ec2d6a:c35a13e5332f4ffac16bcd2d45888aef:66a633771e956377c2d32dd7baf7b316$</string>
            <key>textureFileName</key>
            <string>SkillBtnUI.png</string>
        </dict>
    </dict>
</plist>
