<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00_Slime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,444}</string>
                <key>spriteSourceSize</key>
                <string>{452,444}</string>
                <key>textureRect</key>
                <string>{{0,0},{452,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01_Slime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,444}</string>
                <key>spriteSourceSize</key>
                <string>{452,444}</string>
                <key>textureRect</key>
                <string>{{452,0},{452,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02_Slime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,444}</string>
                <key>spriteSourceSize</key>
                <string>{452,444}</string>
                <key>textureRect</key>
                <string>{{0,444},{452,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03_Slime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,444}</string>
                <key>spriteSourceSize</key>
                <string>{452,444}</string>
                <key>textureRect</key>
                <string>{{452,444},{452,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04_Slime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,444}</string>
                <key>spriteSourceSize</key>
                <string>{452,444}</string>
                <key>textureRect</key>
                <string>{{0,888},{452,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Slime.png</string>
            <key>size</key>
            <string>{904,1332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a503f855cffe205b6bf23a0df263ca0b:d00dd7bc11884049e3c125af518d71b6:bcf1685bd9b9311fb6a663547adcdac6$</string>
            <key>textureFileName</key>
            <string>Slime.png</string>
        </dict>
    </dict>
</plist>
