<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slime Pavilion_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,737}</string>
                <key>spriteSourceSize</key>
                <string>{451,737}</string>
                <key>textureRect</key>
                <string>{{1,1},{451,737}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,128}</string>
                <key>spriteSourceSize</key>
                <string>{708,128}</string>
                <key>textureRect</key>
                <string>{{1,1194},{708,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,335}</string>
                <key>spriteSourceSize</key>
                <string>{251,335}</string>
                <key>textureRect</key>
                <string>{{454,590},{251,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,26}</string>
                <key>spriteSourceSize</key>
                <string>{248,26}</string>
                <key>textureRect</key>
                <string>{{930,590},{248,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,30}</string>
                <key>spriteSourceSize</key>
                <string>{252,30}</string>
                <key>textureRect</key>
                <string>{{875,866},{252,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{587,547}</string>
                <key>spriteSourceSize</key>
                <string>{587,547}</string>
                <key>textureRect</key>
                <string>{{454,1},{587,547}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,48}</string>
                <key>spriteSourceSize</key>
                <string>{166,48}</string>
                <key>textureRect</key>
                <string>{{401,992},{166,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,53}</string>
                <key>spriteSourceSize</key>
                <string>{274,53}</string>
                <key>textureRect</key>
                <string>{{875,590},{274,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,91}</string>
                <key>spriteSourceSize</key>
                <string>{128,91}</string>
                <key>textureRect</key>
                <string>{{907,866},{128,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,200}</string>
                <key>spriteSourceSize</key>
                <string>{398,200}</string>
                <key>textureRect</key>
                <string>{{1,992},{398,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,82}</string>
                <key>spriteSourceSize</key>
                <string>{720,82}</string>
                <key>textureRect</key>
                <string>{{791,590},{720,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,317}</string>
                <key>spriteSourceSize</key>
                <string>{233,317}</string>
                <key>textureRect</key>
                <string>{{451,843},{233,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{712,1143},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{711,1194},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,51}</string>
                <key>spriteSourceSize</key>
                <string>{63,51}</string>
                <key>textureRect</key>
                <string>{{712,1078},{63,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,250}</string>
                <key>spriteSourceSize</key>
                <string>{448,250}</string>
                <key>textureRect</key>
                <string>{{1,740},{448,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,51}</string>
                <key>spriteSourceSize</key>
                <string>{153,51}</string>
                <key>textureRect</key>
                <string>{{875,1120},{153,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{875,1275},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{907,1070},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{958,590},{51,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,16}</string>
                <key>spriteSourceSize</key>
                <string>{191,16}</string>
                <key>textureRect</key>
                <string>{{401,1176},{191,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,14}</string>
                <key>spriteSourceSize</key>
                <string>{189,14}</string>
                <key>textureRect</key>
                <string>{{770,843},{189,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{907,996},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,96}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{584,1078},{126,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,96}</string>
                <key>spriteSourceSize</key>
                <string>{131,96}</string>
                <key>textureRect</key>
                <string>{{451,1078},{131,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{711,1312},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Slime Pavilion.png</string>
            <key>size</key>
            <string>{1002,1323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:608df6f9f88346b264c59ebeed5fd6e6:23d9cb69fc99c74bc72373a1b495d496:238c49b0b6bab667aaede168c562c5eb$</string>
            <key>textureFileName</key>
            <string>Slime Pavilion.png</string>
        </dict>
    </dict>
</plist>
