<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,124}</string>
                <key>spriteSourceSize</key>
                <string>{113,124}</string>
                <key>textureRect</key>
                <string>{{1747,778},{113,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,868}</string>
                <key>spriteSourceSize</key>
                <string>{416,868}</string>
                <key>textureRect</key>
                <string>{{1,1},{416,868}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,224}</string>
                <key>spriteSourceSize</key>
                <string>{223,224}</string>
                <key>textureRect</key>
                <string>{{1452,611},{223,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,305}</string>
                <key>spriteSourceSize</key>
                <string>{227,305}</string>
                <key>textureRect</key>
                <string>{{1569,1},{227,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,149}</string>
                <key>spriteSourceSize</key>
                <string>{720,149}</string>
                <key>textureRect</key>
                <string>{{913,460},{720,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,60}</string>
                <key>spriteSourceSize</key>
                <string>{171,60}</string>
                <key>textureRect</key>
                <string>{{1921,523},{171,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,77}</string>
                <key>spriteSourceSize</key>
                <string>{175,77}</string>
                <key>textureRect</key>
                <string>{{1677,593},{175,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,44}</string>
                <key>spriteSourceSize</key>
                <string>{70,44}</string>
                <key>textureRect</key>
                <string>{{1921,696},{70,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,50}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{1282,963},{151,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,50}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{1285,1015},{151,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,49}</string>
                <key>spriteSourceSize</key>
                <string>{151,49}</string>
                <key>textureRect</key>
                <string>{{1606,923},{151,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,50}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{1438,1011},{151,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,50}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{1591,974},{151,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{1888,1019},{50,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{1888,964},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1948,964},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,31}</string>
                <key>spriteSourceSize</key>
                <string>{191,31}</string>
                <key>textureRect</key>
                <string>{{1414,718},{191,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{1759,904},{92,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,207}</string>
                <key>spriteSourceSize</key>
                <string>{459,207}</string>
                <key>textureRect</key>
                <string>{{419,666},{459,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,204}</string>
                <key>spriteSourceSize</key>
                <string>{177,204}</string>
                <key>textureRect</key>
                <string>{{416,875},{177,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,204}</string>
                <key>spriteSourceSize</key>
                <string>{177,204}</string>
                <key>textureRect</key>
                <string>{{622,875},{177,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,72}</string>
                <key>spriteSourceSize</key>
                <string>{532,72}</string>
                <key>textureRect</key>
                <string>{{880,848},{532,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,94}</string>
                <key>spriteSourceSize</key>
                <string>{152,94}</string>
                <key>textureRect</key>
                <string>{{1635,442},{152,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,46}</string>
                <key>spriteSourceSize</key>
                <string>{135,46}</string>
                <key>textureRect</key>
                <string>{{1853,916},{135,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,457}</string>
                <key>spriteSourceSize</key>
                <string>{654,457}</string>
                <key>textureRect</key>
                <string>{{913,1},{654,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,53}</string>
                <key>spriteSourceSize</key>
                <string>{155,53}</string>
                <key>textureRect</key>
                <string>{{1635,538},{155,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{1569,308},{225,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,37}</string>
                <key>spriteSourceSize</key>
                <string>{144,37}</string>
                <key>textureRect</key>
                <string>{{1435,972},{144,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,100}</string>
                <key>spriteSourceSize</key>
                <string>{413,100}</string>
                <key>textureRect</key>
                <string>{{1,871},{413,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,128}</string>
                <key>spriteSourceSize</key>
                <string>{532,128}</string>
                <key>textureRect</key>
                <string>{{880,718},{532,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,37}</string>
                <key>spriteSourceSize</key>
                <string>{144,37}</string>
                <key>textureRect</key>
                <string>{{1591,1026},{144,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,100}</string>
                <key>spriteSourceSize</key>
                <string>{413,100}</string>
                <key>textureRect</key>
                <string>{{1,973},{413,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{828,963},{225,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{1569,375},{225,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,105}</string>
                <key>spriteSourceSize</key>
                <string>{537,105}</string>
                <key>textureRect</key>
                <string>{{913,611},{537,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{1974,1},{41,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,17}</string>
                <key>spriteSourceSize</key>
                <string>{41,17}</string>
                <key>textureRect</key>
                <string>{{1974,44},{41,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,68}</string>
                <key>spriteSourceSize</key>
                <string>{123,68}</string>
                <key>textureRect</key>
                <string>{{1677,770},{123,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,68}</string>
                <key>spriteSourceSize</key>
                <string>{123,68}</string>
                <key>textureRect</key>
                <string>{{1862,846},{123,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,73}</string>
                <key>spriteSourceSize</key>
                <string>{520,73}</string>
                <key>textureRect</key>
                <string>{{1899,1},{520,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{1808,734},{42,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,29}</string>
                <key>spriteSourceSize</key>
                <string>{42,29}</string>
                <key>textureRect</key>
                <string>{{880,666},{42,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,99}</string>
                <key>spriteSourceSize</key>
                <string>{537,99}</string>
                <key>textureRect</key>
                <string>{{1798,1},{537,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{128,102}</string>
                <key>textureRect</key>
                <string>{{1862,742},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,43}</string>
                <key>spriteSourceSize</key>
                <string>{212,43}</string>
                <key>textureRect</key>
                <string>{{416,1054},{212,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,43}</string>
                <key>spriteSourceSize</key>
                <string>{212,43}</string>
                <key>textureRect</key>
                <string>{{630,1054},{212,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,47}</string>
                <key>spriteSourceSize</key>
                <string>{169,47}</string>
                <key>textureRect</key>
                <string>{{1435,923},{169,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,43}</string>
                <key>spriteSourceSize</key>
                <string>{212,43}</string>
                <key>textureRect</key>
                <string>{{1071,1030},{212,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,49}</string>
                <key>spriteSourceSize</key>
                <string>{142,49}</string>
                <key>textureRect</key>
                <string>{{1744,994},{142,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,49}</string>
                <key>spriteSourceSize</key>
                <string>{142,49}</string>
                <key>textureRect</key>
                <string>{{1737,1045},{142,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,39}</string>
                <key>spriteSourceSize</key>
                <string>{537,39}</string>
                <key>textureRect</key>
                <string>{{828,922},{537,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,39}</string>
                <key>spriteSourceSize</key>
                <string>{216,39}</string>
                <key>textureRect</key>
                <string>{{1447,837},{216,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{1055,963},{225,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,65}</string>
                <key>spriteSourceSize</key>
                <string>{225,65}</string>
                <key>textureRect</key>
                <string>{{844,1030},{225,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,43}</string>
                <key>spriteSourceSize</key>
                <string>{212,43}</string>
                <key>textureRect</key>
                <string>{{1447,878},{212,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,50}</string>
                <key>spriteSourceSize</key>
                <string>{183,50}</string>
                <key>textureRect</key>
                <string>{{1756,593},{183,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,50}</string>
                <key>spriteSourceSize</key>
                <string>{183,50}</string>
                <key>textureRect</key>
                <string>{{1869,540},{183,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,59}</string>
                <key>spriteSourceSize</key>
                <string>{192,59}</string>
                <key>textureRect</key>
                <string>{{1808,540},{192,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,663}</string>
                <key>spriteSourceSize</key>
                <string>{492,663}</string>
                <key>textureRect</key>
                <string>{{419,1},{492,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{1285,1067},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{43,49}</string>
                <key>textureRect</key>
                <string>{{828,875},{43,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1665,837},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Club.png</string>
            <key>size</key>
            <string>{1992,1098}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67d89c33517ce2ad38b9d5512ad89c08:3bd1dde46d7411657adfd6d7385cabf5:fed63ec840cb8fa1f8b3198680be6d34$</string>
            <key>textureFileName</key>
            <string>Club.png</string>
        </dict>
    </dict>
</plist>
