<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feedback_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,439}</string>
                <key>spriteSourceSize</key>
                <string>{558,439}</string>
                <key>textureRect</key>
                <string>{{1,1},{558,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feedback_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,79}</string>
                <key>spriteSourceSize</key>
                <string>{257,79}</string>
                <key>textureRect</key>
                <string>{{561,1},{257,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>feedback.png</string>
            <key>size</key>
            <string>{641,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:988b72816c27824630545900979651b2:34a6456f8862965d1e702e64238a2acb:f7218aea6d6f41b8fc98b8168b6f3ace$</string>
            <key>textureFileName</key>
            <string>feedback.png</string>
        </dict>
    </dict>
</plist>
