<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DecisiveField_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,834}</string>
                <key>spriteSourceSize</key>
                <string>{606,834}</string>
                <key>textureRect</key>
                <string>{{1,1},{606,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DecisiveField_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,107}</string>
                <key>spriteSourceSize</key>
                <string>{328,107}</string>
                <key>textureRect</key>
                <string>{{609,1},{328,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DecisiveField_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{142,52}</string>
                <key>textureRect</key>
                <string>{{580,859},{142,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DecisiveField_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,134}</string>
                <key>spriteSourceSize</key>
                <string>{245,134}</string>
                <key>textureRect</key>
                <string>{{1,837},{245,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DecisiveField_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,103}</string>
                <key>spriteSourceSize</key>
                <string>{239,103}</string>
                <key>textureRect</key>
                <string>{{609,331},{239,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DecisiveField_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{93,973},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DecisiveField_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,34}</string>
                <key>spriteSourceSize</key>
                <string>{88,34}</string>
                <key>textureRect</key>
                <string>{{670,859},{88,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DecisiveField_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,33}</string>
                <key>spriteSourceSize</key>
                <string>{90,33}</string>
                <key>textureRect</key>
                <string>{{1,973},{90,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DecisiveField_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,34}</string>
                <key>spriteSourceSize</key>
                <string>{90,34}</string>
                <key>textureRect</key>
                <string>{{634,859},{90,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DecisiveField_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{634,951},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DecisiveField_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,164}</string>
                <key>spriteSourceSize</key>
                <string>{165,164}</string>
                <key>textureRect</key>
                <string>{{248,837},{165,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DecisiveField_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,164}</string>
                <key>spriteSourceSize</key>
                <string>{165,164}</string>
                <key>textureRect</key>
                <string>{{414,837},{165,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DecisiveField_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,89}</string>
                <key>spriteSourceSize</key>
                <string>{139,89}</string>
                <key>textureRect</key>
                <string>{{609,718},{139,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DecisiveField_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,89}</string>
                <key>spriteSourceSize</key>
                <string>{144,89}</string>
                <key>textureRect</key>
                <string>{{609,572},{144,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DecisiveField.png</string>
            <key>size</key>
            <string>{717,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01c60073e5c47f256514288b0e3502d7:4e4b2f27ca11b2144be534b0a8324fa6:d2d2ef2068709ab6e5f013416d0ceadc$</string>
            <key>textureFileName</key>
            <string>DecisiveField.png</string>
        </dict>
    </dict>
</plist>
