<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rock_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{280,157},{154,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,122}</string>
                <key>spriteSourceSize</key>
                <string>{154,122}</string>
                <key>textureRect</key>
                <string>{{156,251},{154,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,105}</string>
                <key>spriteSourceSize</key>
                <string>{150,105}</string>
                <key>textureRect</key>
                <string>{{634,153},{150,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,114}</string>
                <key>spriteSourceSize</key>
                <string>{150,114}</string>
                <key>textureRect</key>
                <string>{{627,1},{150,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,116}</string>
                <key>spriteSourceSize</key>
                <string>{151,116}</string>
                <key>textureRect</key>
                <string>{{509,1},{151,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{150,95}</string>
                <key>textureRect</key>
                <string>{{1,413},{150,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{150,95}</string>
                <key>textureRect</key>
                <string>{{153,413},{150,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{150,95}</string>
                <key>textureRect</key>
                <string>{{280,313},{150,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{150,95}</string>
                <key>textureRect</key>
                <string>{{305,410},{150,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{482,157},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{150,95}</string>
                <key>textureRect</key>
                <string>{{432,313},{150,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{150,95}</string>
                <key>textureRect</key>
                <string>{{457,410},{150,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{150,95}</string>
                <key>textureRect</key>
                <string>{{584,310},{150,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{1,251},{153,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,95}</string>
                <key>spriteSourceSize</key>
                <string>{150,95}</string>
                <key>textureRect</key>
                <string>{{609,407},{150,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{280,157},{154,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{280,157},{154,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{280,157},{154,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{307,1},{154,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,186}</string>
                <key>spriteSourceSize</key>
                <string>{248,186}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{381,157},{154,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,116}</string>
                <key>spriteSourceSize</key>
                <string>{154,116}</string>
                <key>textureRect</key>
                <string>{{189,1},{154,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rock_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{280,157},{154,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rockz_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{408,1},{154,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Rock.png</string>
            <key>size</key>
            <string>{760,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ea0ae0e181c5f869cabddba596be0a0:189544afa7805bc460a508b3fcecd3de:6c5c271cdb03cd3a6bfafb482a622856$</string>
            <key>textureFileName</key>
            <string>Rock.png</string>
        </dict>
    </dict>
</plist>
