<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SceneEvent_electril_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,406}</string>
                <key>spriteSourceSize</key>
                <string>{20,406}</string>
                <key>textureRect</key>
                <string>{{1123,1355},{20,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0000_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,447}</string>
                <key>spriteSourceSize</key>
                <string>{627,447}</string>
                <key>textureRect</key>
                <string>{{1145,1355},{627,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0001_w12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,295}</string>
                <key>spriteSourceSize</key>
                <string>{177,295}</string>
                <key>textureRect</key>
                <string>{{1615,1},{177,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0002_b12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,326}</string>
                <key>spriteSourceSize</key>
                <string>{202,326}</string>
                <key>textureRect</key>
                <string>{{478,298},{202,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0003_w11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,280}</string>
                <key>spriteSourceSize</key>
                <string>{346,280}</string>
                <key>textureRect</key>
                <string>{{819,1},{346,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0004_b11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,350}</string>
                <key>spriteSourceSize</key>
                <string>{348,350}</string>
                <key>textureRect</key>
                <string>{{1,988},{348,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0005_w10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,358}</string>
                <key>spriteSourceSize</key>
                <string>{327,358}</string>
                <key>textureRect</key>
                <string>{{661,988},{327,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0006_b10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,380}</string>
                <key>spriteSourceSize</key>
                <string>{330,380}</string>
                <key>textureRect</key>
                <string>{{395,1355},{330,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0007_w9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,340}</string>
                <key>spriteSourceSize</key>
                <string>{365,340}</string>
                <key>textureRect</key>
                <string>{{1362,298},{365,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0008_b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,371}</string>
                <key>spriteSourceSize</key>
                <string>{392,371}</string>
                <key>textureRect</key>
                <string>{{1,1355},{392,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0009_w8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,363}</string>
                <key>spriteSourceSize</key>
                <string>{312,363}</string>
                <key>textureRect</key>
                <string>{{990,988},{312,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0010_b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,353}</string>
                <key>spriteSourceSize</key>
                <string>{308,353}</string>
                <key>textureRect</key>
                <string>{{351,988},{308,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0011_w7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,346}</string>
                <key>spriteSourceSize</key>
                <string>{370,346}</string>
                <key>textureRect</key>
                <string>{{1190,640},{370,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0012_b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,335}</string>
                <key>spriteSourceSize</key>
                <string>{340,335}</string>
                <key>textureRect</key>
                <string>{{682,298},{340,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0013_w6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,345}</string>
                <key>spriteSourceSize</key>
                <string>{354,345}</string>
                <key>textureRect</key>
                <string>{{834,640},{354,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0014_b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,338}</string>
                <key>spriteSourceSize</key>
                <string>{336,338}</string>
                <key>textureRect</key>
                <string>{{1024,298},{336,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0015_w5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,342}</string>
                <key>spriteSourceSize</key>
                <string>{432,342}</string>
                <key>textureRect</key>
                <string>{{1,640},{432,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0016_b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,342}</string>
                <key>spriteSourceSize</key>
                <string>{397,342}</string>
                <key>textureRect</key>
                <string>{{435,640},{397,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0017_w4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,365}</string>
                <key>spriteSourceSize</key>
                <string>{417,365}</string>
                <key>textureRect</key>
                <string>{{1304,988},{417,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0018_b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,397}</string>
                <key>spriteSourceSize</key>
                <string>{394,397}</string>
                <key>textureRect</key>
                <string>{{727,1355},{394,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0019_w3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,293}</string>
                <key>spriteSourceSize</key>
                <string>{283,293}</string>
                <key>textureRect</key>
                <string>{{1330,1},{283,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0020_b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,301}</string>
                <key>spriteSourceSize</key>
                <string>{308,301}</string>
                <key>textureRect</key>
                <string>{{168,298},{308,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0021_w2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,161}</string>
                <key>spriteSourceSize</key>
                <string>{164,161}</string>
                <key>textureRect</key>
                <string>{{194,1},{164,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0022_b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,172}</string>
                <key>spriteSourceSize</key>
                <string>{159,172}</string>
                <key>textureRect</key>
                <string>{{360,1},{159,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0023_w1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,142}</string>
                <key>spriteSourceSize</key>
                <string>{191,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_0024_b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,183}</string>
                <key>spriteSourceSize</key>
                <string>{182,183}</string>
                <key>textureRect</key>
                <string>{{521,1},{182,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,227}</string>
                <key>spriteSourceSize</key>
                <string>{50,227}</string>
                <key>textureRect</key>
                <string>{{705,1},{50,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,267}</string>
                <key>spriteSourceSize</key>
                <string>{60,267}</string>
                <key>textureRect</key>
                <string>{{757,1},{60,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,282}</string>
                <key>spriteSourceSize</key>
                <string>{81,282}</string>
                <key>textureRect</key>
                <string>{{1167,1},{81,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,296}</string>
                <key>spriteSourceSize</key>
                <string>{78,296}</string>
                <key>textureRect</key>
                <string>{{1,298},{78,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,296}</string>
                <key>spriteSourceSize</key>
                <string>{85,296}</string>
                <key>textureRect</key>
                <string>{{81,298},{85,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SceneEvent_electril_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,289}</string>
                <key>spriteSourceSize</key>
                <string>{78,289}</string>
                <key>textureRect</key>
                <string>{{1250,1},{78,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SceneEvent_electril.png</string>
            <key>size</key>
            <string>{1793,1803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53d79c007c153cb29c47786bbe44f366:32d64ed6589d130b5bee897b1719e0e0:7b3077be45afd76b5dce7b596563f4d6$</string>
            <key>textureFileName</key>
            <string>SceneEvent_electril.png</string>
        </dict>
    </dict>
</plist>
