<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slime Pavilion_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,737}</string>
                <key>spriteSourceSize</key>
                <string>{451,737}</string>
                <key>textureRect</key>
                <string>{{1,1},{451,737}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,128}</string>
                <key>spriteSourceSize</key>
                <string>{708,128}</string>
                <key>textureRect</key>
                <string>{{740,1},{708,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,335}</string>
                <key>spriteSourceSize</key>
                <string>{251,335}</string>
                <key>textureRect</key>
                <string>{{543,857},{251,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,26}</string>
                <key>spriteSourceSize</key>
                <string>{248,26}</string>
                <key>textureRect</key>
                <string>{{1,1127},{248,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,30}</string>
                <key>spriteSourceSize</key>
                <string>{252,30}</string>
                <key>textureRect</key>
                <string>{{543,1110},{252,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{587,485}</string>
                <key>spriteSourceSize</key>
                <string>{587,485}</string>
                <key>textureRect</key>
                <string>{{1,538},{587,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,49}</string>
                <key>spriteSourceSize</key>
                <string>{166,49}</string>
                <key>textureRect</key>
                <string>{{723,711},{166,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,53}</string>
                <key>spriteSourceSize</key>
                <string>{274,53}</string>
                <key>textureRect</key>
                <string>{{488,857},{274,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slime Pavilion_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,317}</string>
                <key>spriteSourceSize</key>
                <string>{233,317}</string>
                <key>textureRect</key>
                <string>{{488,538},{233,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,82}</string>
                <key>spriteSourceSize</key>
                <string>{720,82}</string>
                <key>textureRect</key>
                <string>{{1,454},{720,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slime Pavilion_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,77}</string>
                <key>spriteSourceSize</key>
                <string>{108,77}</string>
                <key>textureRect</key>
                <string>{{723,762},{108,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Slime Pavilion.png</string>
            <key>size</key>
            <string>{890,1154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:365b88df927026fb0f2807f384fcbbea:3757c54a42bc503fd467b93dcaab38c3:238c49b0b6bab667aaede168c562c5eb$</string>
            <key>textureFileName</key>
            <string>Slime Pavilion.png</string>
        </dict>
    </dict>
</plist>
